.user-details-card{
    height:60vh;
    width:60%;
    background-color:#ffffff;
    border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.det-head{
    color: blue;
    font-weight:bold;
    font-size:30px;
    text-align: center;
    text-decoration: underline;
    font-style:italic;
}
.user-card-head{
    font-size:18px;
    font-weight:bold;
}
.user-det-con{
    display: flex;
    margin:5px;
}
.user-icon{
    height:20px;
    width:20px;
    margin-right:10px; 
}
.total-user-con{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: aliceblue;
    height:100vh;
}
.loader-con{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
}
.back-button{
    background-color: black;
    border-width: 0px;
    border-radius: 4px;
    padding:7px;
    color:#ffffff;
}
.link-item{
    text-decoration: none;
    margin-top:5%;
}
.top-theme{
    display: flex;
}

@media (min-width:300px) and (max-width:550px){
    .user-details-card{
        height:60vh;
        width:80%;
        background-color:#ffffff;
        border-radius: 4px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.5); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .det-head{
        color: blue;
        font-weight:bold;
        font-size:20px;
        text-align: center;
        text-decoration: underline;
        font-style:italic;
    }
    .user-card-head{
        font-size:15px;
        font-weight:bold;
    }
}

@media (max-width:300px){
    .user-details-card{
        height:60vh;
        width:92%;
        background-color:#ffffff;
        border-radius: 4px;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.5); 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .det-head{
        color: blue;
        font-weight:bold;
        font-size:17px;
        text-align: center;
        text-decoration: underline;
        font-style:italic;
    }
    .user-card-head{
        font-size:10px;
        font-weight:bold;
    }
}